<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>c++ Text Editor</title>

    <!-- CodeMirror CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/theme/material-darker.min.css">

    <style>
    .CodeMirror {
        font-size: 20px; /* Adjust this value to increase or decrease text size */
    }
    </style>
    
</head>

<body>

    <h1>Editor</h1>
    <a href="{{ url_for('index')}}">home</a>
    
    <!-- Create TextArea -->
    
    <select name="language" id="language">
        <option value = "python">python</option>
        <option value = "cpp">cpp</option>
    </select>
    <textarea id="textEditor" name="textEditor" rows="100" cols="100"></textarea>
    <button onclick="fetchData()">run</button>
    <p>input</p>
    <textarea id="inputArea" name="inputArea" rows="10" cols="10"></textarea>
    <p>output</p>
    <textarea id="outputArea" name="outputArea" rows="100" cols="100"></textarea>


    <!-- CodeMirror JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/addon/edit/closebrackets.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/addon/edit/matchbrackets.min.js"></script>

    <script>
        let syntaxSelector = {cpp : 'text/x-c++src', python : 'python' }
        const lang = document.getElementById('language');

        var textEditor = CodeMirror.fromTextArea(document.getElementById('textEditor'), {
            mode: syntaxSelector[lang.value],
            lineNumbers: true,
            theme: "material-darker",
            autoCloseBrackets: true,
            matchBrackets: true,
            indentUnit: 4,
            tabSize: 4,
            smartIndent: true,
            indentWithTabs: false,
        });

        var outputArea = CodeMirror.fromTextArea(document.getElementById('outputArea'), {
            mode: "text/plain",
            lineNumbers: false,
            theme: "material-darker",
        });

        var inputArea = CodeMirror.fromTextArea(document.getElementById('inputArea'), {
            mode: "text/plain",
            lineNumbers: false,
            theme: "material-darker",
        });

        lang.addEventListener('change', () => {
            textEditor.setOption('mode', syntaxSelector[lang.value]);
        });

    </script>
    <script>
        async function fetchData() {
		console.log("fetchdata");

        const code = textEditor.getValue();
        const input = inputArea.getValue();
        const lang = document.getElementById('language').value;

        console.log(lang)
        const response = await fetch('/compile', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({codeVal:code,inputVal:input,langType:lang}),
        });

        const data = await response.json();
        outputArea.setValue(data.result);
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script>
        const socket = io();
        const room_id = "{{ room_id }}";

        // Join the room
        if (!window.hasRunOnce) {
            window.hasRunOnce = true;
            socket.emit('join', { room: room_id });    
        }

        // Respond to request for text
        socket.on('request_text', (data) => {
            if (data.room === room_id) {
                const text = textEditor.getValue();
                if(text!=""){
                    socket.emit('update_text', { room: room_id, text });    
                }  
            }
        });

        // Receive and update editor text
        socket.on('update_text', (data) => {
            textEditor.setValue(data.text);
        });

        // Send updates to the server on input change
                // Send updates to the server on input change
        textEditor.on('change', () => {
            const text = textEditor.getValue();
            socket.emit('update_text', { room: room_id, text });
        });

    </script>

</body>
</html>
