<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollaBrix</title>
    <link rel="stylesheet" crossorigin="" href="./static/css/home.css">
</head>
<body>

    <div class="my-12 flex h-full min-w-full flex-col items-center justify-evenly sm:flex-row sm:pt-0">
        <div class="flex w-full animate-up-down justify-center sm:w-1/2 sm:pl-4">
            <img src="./static/img/logo2.png" alt="Logo2" class="logo2">  
        </div>
        <div class="flex items-center justify-center sm:w-1/2 left-right-pad" >
            <div class="container flex w-full max-w-[500px] flex-col items-center justify-center">
                <img src="./static/img/logo3.png" alt="CollaBrix Logo" >
                <input type="text" id="roomId" name="roomId" required placeholder="Room Id">
                <input type="text" id="userName" name="userName" required placeholder="User Name">
                <button type="">Join</button>
                <button>Create Room Id</button>
            </div>
        </div>
    </div>
    
</body>
</html>